---
const allRecipes = await Astro.glob('../pages/recipes/*.md')
import BaseLayout from '../layouts/BaseLayout.astro'
const pageTitle = 'Jerod and Family Recipes'
---

<BaseLayout pageTitle={pageTitle}>
	<ul>
		{allRecipes.map((recipe) => <li><a href={recipe.url}>{recipe.frontmatter.title}</a></li>)}
	</ul>
</BaseLayout>

<style>
	a {
		text-decoration: none;
		color: inherit;
	}

	
</style>