---
const allRecipes = await Astro.glob('../pages/recipes/*.md')
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Jerod and Family Recipes</title>
	</head>
	<body>
		<h1>Jerod and Family Recipes</h1>
		<ul>
			{allRecipes.map((recipe) => <li><a href={recipe.url}>{recipe.frontmatter.title}</a></li>)}
		</ul>
	</body>
</html>
