---
import Selector from '../components/Selector.astro'
---

<nav
    class="flex flex-col sm:flex-row items-center justify-between my-2 mx-2 gap-y-4 p-4 bg-gradient-to-br from-primary-100 via-primary-200 to-primary-100 dark:bg-gradient-to-br dark:from-d-primary-100 dark:via-d-primary-200 dark:to-d-primary-100 text-secondary dark:text-d-secondary rounded-xl border-2 border-solid border-accent dark:border-d-accent shadow-lg"
>
    <h1 class="text-lg sm:text-2xl text-accent dark:text-d-accent title">J-Rod and Family's Recipes</h1>
    <Selector />
</nav>
