---
---

<nav class="flex flex-col sm:flex-row items-center justify-between gap-y-4 p-4 bg-stone-500 dark:bg-stone-700 text-stone-200 dark:text-stone-400">
    <h1 class="text-lg sm:text-2xl">J-Rod and Family's Recipes</h1>
    <a class='text-sm sm:text-base px-2 py-1.5 border border-solid border-stone-200 dark:border-stone-500 hover:text-stone-500 dark:hover:text-stone-700 hover:bg-stone-200 rounded-md dark:hover:bg-stone-400' href='/'>ALL RECIPES</a>
</nav>

