---
import Selector from '../components/Selector.astro'
---

<nav
    class="flex flex-col sm:flex-row items-center justify-between my-2 mx-2 gap-y-4 p-4 bg-primary-200 dark:bg-d-primary-200 text-secondary dark:text-d-secondary rounded-xl border-2 border-solid border-accent dark:border-d-accent shadow-lg"
>
    <h1 class="text-lg sm:text-2xl text-accent dark:text-d-accent title">J-Rod and Family's Recipes</h1>
    <!-- <a
        class="text-sm sm:text-base px-2 py-1.5 rounded-xl border border-solid border-accent dark:border-d-accent hover:text-primary-200 dark:hover:text-d-primary-200 hover:bg-accent dark:hover:bg-d-accent"
        href="/">ALL RECIPES</a
    > -->
    <Selector />
</nav>
