---
const allRecipes = await Astro.glob("../pages/recipes/*.md");
const uniqueTags = [
  ...new Set(allRecipes.map((recipe) => recipe.frontmatter.tags).flat()),
];
---

<div class="flex items-center justify-center">
  <div class="group relative cursor-pointer py-2">
    <div class="flex items-center justify-between space-x-5 px-4 rounded-xl border border-solid border-accent dark:border-d-accent bg-primary-200 dark:bg-d-primary-200 text-secondary dark:text-d-secondary hover:text-primary-200 dark:hover:text-d-primary-200 hover:bg-accent dark:hover:bg-d-accent">
      <p class="menu-hover py-2 text-base font-medium lg:mx-4">
        Choose Category
      </p>
      <span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="h-6 w-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M19.5 8.25l-7.5 7.5-7.5-7.5"></path>
        </svg>
      </span>
    </div>

    <div
      class="invisible group-hover:visible absolute z-50 my-2 px-4 py-1 rounded-xl flex w-full flex-col shadow-xl font-semibold border border-solid border-accent dark:border-d-accent text-secondary dark:text-d-secondary bg-primary-200 dark:bg-d-primary-200">
      <a href="/"
        class="block my-1 py-1 sm:mx-2"
      >All Recipes</a>

      {uniqueTags.map((tag) => <a href={"/tags/" + tag} class="block my-1 py-1 sm:mx-2"
      >{tag}</a>)}

    </div>
  </div>
</div>
