---
import BaseLayout from "./BaseLayout.astro";

const { frontmatter } = Astro.props;
---

<BaseLayout>
  <h1 class="text-xl sm:text-3xl">{frontmatter.title}</h1>
  <p class="text-xs">Recieved from: {frontmatter.author}</p>
  <slot />
</BaseLayout>
